html, body {
    background-color: hsl(0, 0%, 8%);
    height: 100dvh;
    margin: 0;
}
body {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
#mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    min-width: 23rem;
    padding: 2rem;
    border-radius: 0.5rem;
    border: 1px solid hsl(0, 0%, 12%);
    background-color: hsl(0, 0%, 12%);
    color: hsl(0, 0%, 100%);
}
ul {
    list-style: none;
    padding-left: 0;
    gap: 1rem;
    display: flex;
    flex-direction: column;

}
li {
    padding: 1rem;
    border: 1px solid hsl(0, 0%, 12%);
    border-radius: 0.5rem;
    background-color: hsl(0, 0%, 20%);
    color: hsl(0, 0%, 100%);
    font-weight: 900;
    font-size: 1rem;
}
li:hover {
    background-color:  hsl(0, 0%, 8%);
    cursor: pointer;
}
img {
    border-radius: 50%;
    width: 6rem;
    height: auto;
    align-self: center;
    margin-bottom: 1rem;
}
.location {
    color: hsl(75, 94%, 57%);
    font-size: 1rem;
    font-weight: 600;
    margin: 0 0 1.5rem 0;
}
.name {
    margin-bottom: 0.5rem;
    font-size: 2rem;
    font-size: 700;
}
.bio {
    font-weight: 400;
    font-size: 14px;
}
@media (max-width: 600px) {
    #mainContainer {
        min-width: 70%;
    }
    li {
                font-size: 0.9rem;
    }
}
.attribution {
    margin-top: 2rem;
    color: white;
    
}